@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pattaya&family=Poppins&family=Sen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
#root {
  background: rgba(249, 246, 242, 0.94);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 30px 10%;
}
.logo {
  color: #5f3232;
  text-decoration: none;
  font-family: Dank Mono, sans-serif;
}

.navlinks {
  list-style: none;
  li {
    display: inline-block;
    color: #000000;
    padding: 0px 20px;
  }
  a {
    text-decoration: none;
    color: #000;
    font-family: Operator Mono, sans-serif;
    font-style: italic;
    font-weight: 325;
    font-size: 19px;
    line-height: 41px;
  }
}
.contact {
  background: linear-gradient(
    180deg,
    #24dae6 0%,
    #3fd7b1 34.9%,
    #1cde83 61.46%,
    #32f55d 100%
  );
  border-radius: 45px;
  border: none;
  width: 142px;
  height: 55px;
  transition: all 0.5s ease 0s;
  outline: none;
  &:hover {
    transform: scale(1.1);
  }
  img {
    float: left;
    width: 47px;
    height: 45px;
    padding-left: 10px;
  }
  .contact-text {
    font-family: Cascadia Code, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    justify-content: center;
    display: inline-block;
    padding: 14px;
    color: #F9FCDC;
  }
}