@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pattaya&family=Poppins&family=Sen&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
  background: #9da39f;
}

.logo {
  text-decoration: none;
  color: #55834d;
  font-family: "Sen", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
}

.logo h2 {
  padding: 0.2rem;
  bottom: 1rem;
  left: 0.6rem;
  font-family: "Pattaya", sans-serif;
  letter-spacing: 1.8px;
}

.logo img {
  width: 3.9rem;
  height: 2.9rem;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e6e3e3;
}

.navlinks li a {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e6e3e3;
}

.navlinks li a:hover {
  color: #4e414b;
}

.contact {
  border-radius: 11px;
  background-color: #2a6399;
  padding: 13px 11px;
  width: 110px;
  border: none;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e6e3e3;
}

.contact:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.87;
}

.fa-envelope {
  margin-right: 3px;
}

.welcome {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.288)), to(transparent)), url("/img/gray-laptop.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.288), transparent), url("/img/gray-laptop.jpg");
  background-size: cover;
  background-position: center;
  height: 36rem;
  text-align: center;
  color: #547ac0;
  padding-top: 15rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: rgba(218, 170, 99, 0.486);
}

.card {
  width: 47%;
  border-radius: 22px;
  border: 3px solid #c4b0b0;
  display: inline-block;
  margin: 2rem;
  padding: 3rem;
}

.send {
  border: none;
  background-color: #2d2257;
  cursor: pointer;
  padding: 1.5rem;
  color: #489fd1;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-radius: 11px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.send:hover {
  color: #9da39f;
  background-color: rgba(45, 34, 87, 0.97);
}

form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flexbox;
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #9da39f;
  padding: 30px 10%;
  font-family: "Poppins", sans-serif;
  text-align: left;
  color: #312d58;
}